canvas {
  display: block;
  vertical-align: bottom;
  background-color: #000000 !important;
  z-index: 1 !important;
}
.my-img{
  position: relative;
  z-index: 2;
  width: 100%;
  border-radius: 50%;
  max-width: 18rem;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}
.text-area, .article, .skills, .p-cards, .wrp{
  position: relative;
  z-index: 2;
  color: #fff;
}
a{
  text-decoration: none;
  color: #fff;
}
ul li a{
  font-family: 'Poppins', sans-serif !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none !important;
}
.font{
  font-family: 'Poppins', sans-serif !important;
  font-size: 2rem !important;
  font-weight: 600 !important;
  color: #ef1385;
}
.article{
  background-color: #ffffff42;
  border-radius: 10px;
  text-align: justify;
}
.skills-Card{
  background-color: #ffffff42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.skills-img{
  width: 100%;
  max-width: 150px;
}
.card{
  background-color: transparent !important;
  color: #fff !important;
}
img.card-img-top.img-fluid{
  height: 290px !important;
}
.percent-text, .contact-h{
  background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
  background: linear-gradient(to right, #f32170, #f32170,#f32170, #ff6b08) !important;
}






@media (max-width:768px) {
  .text-area{
    text-align: center;
  }
  .logo-img{
    max-width: 200px;
  }
}